<link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">

<div class="body">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="userSelect">
    <mat-form-field>
        <mat-label>Usuarios</mat-label>
        <mat-select [formControl]="userSelect" (selectionChange)="selection($event.value)">
            <mat-option *ngFor="let user of userList" [value]="user" >
                {{user}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
  <div class="container">
    <div class="boxStyle">
      <h1>Agregar ruta recomendada</h1>
    </div>
    <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
      <div class="containerform">
        <div class="form-group">
          <input type="text" class="form-control" id="route-name" formControlName="routeName" placeholder="Nombre de ruta">
        </div>
        
        <div class="form-container">
          <input type="text" class="inputName" formControlName="newPlace" placeholder="Escriba el nombre del lugar">
          <button type="button" class="button" (click)="agregarLugar()">+</button>
        </div>
      </div>
        <div class="divList">
          <ul class="places-list">
            <li *ngFor="let place of places">{{ place }}</li>
          </ul>
        </div>
      
      <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
