<div class="body">
  <div class="container">
    <div class="boxStyle">
      <h1>Agregar ruta recomendada</h1>
    </div>
    <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" id="route-name" formControlName="routeName" placeholder='Nombre de ruta'>
      </div>
      <div class="boxStyle">
        <div>
          <input type="text" class="inputName" formControlName="newPlace" placeholder="Escriba el nombre del lugar">
          <button type="button" class="inputName" (click)="agregarLugar()">+</button>
        </div>
        <div class="divList">
          <ul class="places-list">
            <li *ngFor="let place of places">{{ place }}</li>
          </ul>
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
