<div class="body">
    <div class="container">
        <div class="boxStyle">
            <h1>Agregar ruta recomendada</h1>
        </div>
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control" id="route-name" placeholder = 'Nombre de ruta'>
          </div>
          <div class="boxStyle">
            <div >
                <input type="text" class="inputName" id="new-place" placeholder="Escriba el nombre del lugar">
                <button type="button" class="inputName">+</button>
            </div>
            <div class="divList">
                <ul class="places-list">
                  <li>Parque las iguanas</li>
                  <li>Malecon 2000</li>
                  <li>Cerro santa ana</li>
                </ul>
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
              <button type="submit" class="btn btn-primary" >Agregar</button>
          </div>
        </form>
      </div>
</div>
  